Package: librenms
Version: 0.5
Section: custom
Priority: optional
Architecture: amd64
Depends: libapache2-mod-php5, php5-cli, php5-mysql, php5-gd, php5-snmp, php-pear, php5-curl, snmp, graphviz, php5-mcrypt, php5-json, apache2, fping, imagemagick, whois, mtr-tiny, nmap, python-mysqldb, snmpd, mysql-client, mysql-server, php-net-ipv4, php-net-ipv6, rrdtool, makepasswd
Maintainer: dev@bh-consulting.net
Description: LibreNMS
